<p>
	<strong>Quote</strong>
	<%= @book.body %>
</p>

<p>
	<strong>Category</strong>
	<%= @book.category %>
</p>

<%= link_to 'Back', quotes_path %> 
<%= link_to 'Edit', edit_quote_path(@quote) %>