.quotes{
	background-color:blue;
	position: absolute;
	top: 100px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.books{
	position: absolute;
	top: 400px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

