.rquote p{
	position: relative;
	font-size: 20px;
	line-height: 38px;
	text-align: center;
	padding: 15px;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}

.quotes a{
	position: relative;
	float: right;
	right: 160px;
	bottom: 100px;
}

.wrap{
	position: relative;
	height: 250px;
}

.book a{
	position: relative;
	bottom: 30px;
	font-size: 38px;
	left: 160px;
}

.bookscroll {
	position: relative;
	bottom: 0px;
	margin: 5 px 5px;
	display: inline;
}

.bookscroll h1{
	font-size: 16px;
	width: 120px;
	text-align: center;
}

#bookline{
	height: 275px;
	margin-left: 10px;
	margin-right: 10px;
}

.wrapper{
	bottom: 0;
	width: 1100px;
	padding-left: 5px;
	padding-right: 5px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(245, 253, 253, 0.7);
}


.bookscroll li{
	display: inline;
	float: left;
	width: 160px;
	margin: 5px;
}
