// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.qtitle p{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 200px;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

.categories{
	position:relative;
}

.categories li{
	display:inline;
}

.categories a{
	margin: 5px;
}

.quotebox{
	background-color: white;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	width: 400px;
	height: 150px;
	margin: 15px;
	padding: 10px;
	border-radius: 5px;
}

.qbody{
	font-size: 18px;
	text-align: center;
}

.info{
	position: relative;
	float: right;
	margin-top:10px;
	margin-right: 10px;
}
